// $primary: #000;
// $e-black: #000;
$darkBlue: #020f18;
// $siteBackground: #030f19;
// $defaulTextColor: #fff;
// $lightBg: #f0f0f0;

// $darkBlack: #131016;

$color-danger: #f66e6a;
// $font-default: "Libre Baskerville", serif;
// $font-alternate: "PT Sans", serif;
// $default-radius: 20px;

// // Screen Resolution
// $mobileResolution: 767px;
// $tabResolution: 768px;
// $ipadProResolution: 1024px;

$primary: #ffffff;
$gray: #d8d8d8;
$silver: #727272;
$jetGray: #2b2b2b;
$black: #000;
$e-black: #141414;
$green: #16c784;
$red: #ea3943;

// Colors

$font-default: "Inter", sans-serif;
$font-alternate: "Krona One", sans-serif;
$default-radius: 20px;

$h1: 24px;
$h1Mob: 20px;
$h2: 18px;
$bodyText: 16px;

// Screen Resolution
$mobileResolution: 767px;
$tabResolution: 768px;
$ipadProResolution: 1024px;
