.page-projects {
  // background-image: url("/images/layout/page-project-bg.svg");
  background-size: 100% 100%;
}
.page-about {
  // background-image: url("/images/layout/page-about-bg.svg");
  background-size: 100% 100%;
}
.page-contact {
  // background-image: url("/images/layout/page-about-bg.svg");
  background-size: 100% 100%;
}
