@import "/styles/variables.scss";

.mainCont {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: auto;
  border: 1px solid red;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  position: relative;
  .h100 {
    height: 100vh;
  }

  .imageWrapper {
    // border: 1px solid green;
    width: 100vw;
    height: 100vh;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    // position: absolute;
    position: fixed;

    // margin-top: 344px;
    // z-index: 0;
    .one {
      height:100vh;
      width: 100vw;
      // height: 100px;
      // width: 100px;
      border: 1px solid blue;
      // transform: scale(2);
      // top: 300px;
      position: absolute;
      // transform: translate(-50%,-50%);
    }
  }
  .wear {
    position: relative;
    color: white;
    font-family: $font-default;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 200px;
    margin-top: -500px;
  }
}
